div.well {
  overflow-x: auto;
  white-space: nowrap;
  height: 400px;
}
div.well [class*="col"]{
  display: inline-block;
  float: none;
}

.table td, .table th {
  padding: 0.4rem;
}


thead>tr>th {
  cursor: pointer;
}


.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
