
 .ag-theme-blue {

  .ag-theme-blue .ag-header {
    background-color: #222222 !important;;
  }

  .ag-theme-blue .ag-header-cell {
    background-color: #222222 !important;;
  }

  .ag-theme-blue .ag-header-group-cell-with-group {
    background-color: #222222 !important;;
   }

   .ag-theme-blue.ag-header-cell, .ag-theme-balham .ag-header-group-cell{
    background-color: #222222 !important;;
  }

   .ag-panel .ag-title-bar {
    background-color: #222222 !important;
  }

  .ag-panel .ag-message-box .ag-message-box-button-bar {
    background-color: #222222 !important;
  }

  .ag-tab-header {
      background-color: #222222 !important;
    }
   }
