<ngx-spinner bdOpacity=0.9 bdColor="#333" size="default" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="../../../../assets/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col">
              
            </div>
            <div class="col" style="color: white">
                {{'Aguarde' | translate}}
            </div>
            <div class="col">
           
            </div>
          </div>

      </div>
</ngx-spinner>
